/*  this is a comment :3 */
body p {
  color: rgb(244, 171, 192);
  size: 16px;
  font-family: bitcount-grid-double;
  text-align: center;
  background-color: rgb(24, 23, 23);
  padding: 1px;
}

songimg {
  max-width: 100%;
  height: auto;
}

/* some styles 
background-color: red;
padding: 1%;
margin: 2;

 */

header {
  font-weight: bold;
  size: 200px;
  text-align: center;
}
.subheader {
}
.lyrics {
}
